<nz-card>
  <div class="animate-wrap">
    <div class="background">

      <!-- 气泡 -->
      <div class="bubble bubble--10">
        <div class="bubble-spot"></div>
      </div>
      <div class="bubble bubble--20">
        <div class="bubble-spot"></div>
      </div>
      <div class="bubble bubble--30">
        <div class="bubble-spot"></div>
      </div>
      <div class="bubble bubble--45">
        <div class="bubble-spot"></div>
      </div>
      <div class="bubble bubble--60">
        <div class="bubble-spot"></div>
      </div>
      <div class="bubble bubble--70">
        <div class="bubble-spot"></div>
      </div>

      <!-- 章鱼 -->
      <div class="octopus">
        <div class="tentacle tentacle-1"></div>
        <div class="tentacle tentacle-2"></div>
        <div class="tentacle tentacle-3"></div>
        <div class="head">
          <div class="head-spot head-spot-1"></div>
          <div class="head-spot head-spot-2"></div>
          <div class="eyes eyes-1">
            <div class="iris">
              <div class="pupil">
                <div class="eyes-spot"></div>
              </div>
            </div>
          </div>
          <div class="eyes eyes-2">
            <div class="iris">
              <div class="pupil">
                <div class="eyes-spot"></div>
              </div>
            </div>
          </div>
          <div class="mouth"></div>
        </div>
        <div class="octo-bubble">
          <div class="bubble-spot"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 按钮 -->
  <div class="auth-button-wrap">
    <button nz-button nzType="primary" class="auth-button" (click)="handleClick()">清除 token，返回登录页面</button>
  </div>
</nz-card>