@media (max-width: 1600px) {
  .echart {
    width: 100%;
    height: 300px;
    margin-top: 5px;
  }
}

@media (min-width: 1601px) {
  .echart {
    width: 100%;
    height: 400px;
    margin-top: 5px;
  }
}
